.loading {
  color: gray;
}

.loading:after {
  margin-left: 4px;
  content: '.';
  animation: dots 2s steps(1, end) infinite;
}

@keyframes dots {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    text-shadow: 0.25em 0;
  }
  75% {
    text-shadow: 0.25em 0, 0.5em 0;
  }
}
